# HTTPS certificates are issued and renewed automatically for $DOMAIN.
{$DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 8MB
	}
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		-Server
	}
	reverse_proxy api:3000
}
